- if procedures.length > 1
  - frame_id = 'instructeur-dossiers-synthesis-modal'
  - modal_id = "#{frame_id}-dialog"
  - modal_title_id = "#{modal_id}-title"

  %span{ data: { controller: 'lazy-modal' } }
    .flex.align-center.fr-mb-2w
      %button.fr-btn.fr-btn--secondary.fr-btn--sm.fr-btn--icon-left{ type: 'button', aria: { controls: modal_id }, data: { 'fr-opened': 'false', 'turbo-frame': frame_id, action: 'lazy-modal#load' }, src: synthese_instructeur_procedures_path }
        = dsfr_icon('fr-icon-pie-chart-2-line', :sm, :mr)
        = t('views.instructeurs.dossiers.dossier_synthesis')

    = turbo_frame_tag frame_id, data: { 'lazy-modal-target': 'frame' } do
      %dialog{ id: modal_id, class: 'fr-modal', role: 'dialog', aria: { labelledby: modal_title_id } }
