<div class="fr-mt-2v fr-background-alt--grey fr-p-2w">
  <div class="flex justify-between align-baseline">
    <p class="fr-text-mention--grey fr-mb-2w"><%= t('.title') %></p>

    <button
      class="
        fr-btn fr-btn--sm fr-btn--secondary fr-btn--icon-left
        fr-icon-pencil-line
      "
    >
      <%= t('views.shared.actions.edit') %>
    </button>
  </div>

  <dl class="fr-pl-0">
    <% formated_data.each do |key, value| %>
      <dt class="champ-label fr-text-mention--grey"><%= t(".#{key}") %></dt>

      <% if value.present? %>
        <dd class="champ-content fr-mb-2w copy-zone"><%= sanitize(value) %></dd>
      <% else %>
        <dd class="champ-content fr-mb-2w">
          <span class="fr-hint-text fr-text-default--warning font-weight-normal">
            <%= dsfr_icon('fr-icon-file-text-fill', :sm, :mr) %>
            <%= t(".processing_error") %>
          </span>
        </dd>
      <% end %>
    <% end %>
  </dl>
</div>
