<% case @procedure.closed_mail_template_attestation_inconsistency_state %>
<% when :missing_tag %>
  <div class="center">
    <div class="<%= ['alert', flash_class('alert')].compact.join(' ') %>">
      Cette démarche comporte une attestation, mais l’accusé d’acceptation ne la mentionne pas :
      <% unless @procedure.locked? %>
        <%= link_to('désactivez l’attestation', edit_admin_procedure_attestation_template_path(@procedure)) %>
        ou
      <% end %>
      <%= link_to('ajoutez la balise', edit_admin_procedure_mail_template_path(@procedure, Mails::ClosedMail::SLUG)) %>
      <code style="white-space: pre-wrap;">
        --lien attestation--
      </code>
      à l’accusé d’acceptation
    </div>
  </div>
<% when :extraneous_tag %>
  <div class="center">
    <div class="<%= ['alert', flash_class('alert')].compact.join(' ') %>">
      Cette démarche ne comporte pas d’attestation, mais l’accusé d’acceptation en mentionne une :
      <%= link_to('activez l’attestation', edit_admin_procedure_attestation_template_path(@procedure)) %>
      ou
      <%= link_to('enlevez la balise', edit_admin_procedure_mail_template_path(@procedure, Mails::ClosedMail::SLUG)) %>
      <code style="white-space: pre-wrap;">
        --lien attestation--
      </code>
      de l’accusé d’acceptation
    </div>
  </div>
<% end %>
