<div class="merci fr-pt-2w">
  <div class="fr-container fr-my-4w">
    <div class="fr-grid-row">
      <div class="fr-col-xl-2 preview-spacing"></div>
      <div class="fr-col-xl-8 preview-content">
        <p class="fr-h2 fr-my-4w">
          <i class="fr-icon-folder-check-line fr-icon--lg fr-text-default--info fr-mr-1w"></i>
          <%= t('views.users.dossiers.merci.thanks') %>
        </p>

        <h1 class="send fr-my-2w fr-text--lg">
          <%= t('views.users.dossiers.merci.dossier_success', libelle: procedure.libelle) %>
        </h1>
        <p class="fr-my-2w">
          <%= t('views.users.dossiers.merci.dossier_acces_l1') %>
          <strong><%= t('views.users.dossiers.merci.dossier_acces_l2') %></strong>
        </p>
        <p class="fr-my-2w">
          <%= t('views.users.dossiers.merci.dossier_edit_l1') %>
          <% if !dossier&.read_only? && !procedure.declarative_accepte? && !procedure.sva_svr_enabled? %>
            <strong><%= t('views.users.dossiers.merci.dossier_edit_l2') %></strong>
            <%= t('views.users.dossiers.merci.dossier_edit_l3') %>
          <% end %>
          <strong><%= t('views.users.dossiers.merci.dossier_edit_l4') %></strong>
        </p>

        <% dsm = local_assigns[:dossier_submitted_message] || procedure.active_dossier_submitted_message %>
        <% if dsm %>
          <div class="fr-my-4w">
            <% if dsm.tiptap_content? %>
              <div class="tiptap-content">
                <%= render SimpleFormatComponent.new(dsm.body_as_html, allow_a: true) %>
              </div>
            <% else %>
              <p><%= dsm.message_on_submit_by_usager %></p>
            <% end %>
          </div>
        <% end %>

        <p class="flex fr-mb-5w fr-mt-4w">
          <%= render(partial: 'users/dossiers/show/download_dossier', locals: { dossier: }) %>
          <%= link_to t('views.users.dossiers.merci.acces_dossier'), dossier ? dossier_path(dossier) : "#dossier", class: 'fr-btn fr-mx-2w' %>
        </p>

        <hr class="fr-hr">
        <p><%= link_to t('views.users.dossiers.merci.submit_dossier'), commencer_url(procedure.path), class: 'fr-btn fr-btn--secondary fr-mt-2w' %></p>

        <% if procedure.monavis_embed %>
          <div class="monavis text-center">
            <h2 class="fr-mt-5w fr-mb-1w fr-text--lg">
              <%= t('views.users.dossiers.merci.jdma_l1') %>
            </h2>
            <p><%= t('views.users.dossiers.merci.jdma_l2') %></p>
            <%= procedure.monavis_embed_html_source("site").html_safe %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
