%footer.landing-footer{ role: 'contentinfo' }
  .container
    %ul.footer-columns

      %li.footer-column
        %ul.footer-logos
          %li.footer-text
            Un service fourni par la
            = link_to "DINUM", "https://numerique.gouv.fr/", title: "Direction Interministérielle au Numérique"
            %br
          %li
            = link_to "https://numerique.gouv.fr/", title: "DINUM", 'aria-label': 'DINUM' do
              %span.footer-logo.footer-logo-dinum{ role: 'img', 'aria-label': 'Logo DINUM' }

      %li.footer-column
        %ul.footer-links
            %li.footer-link
              = link_to CGU_LABEL, CGU_URL, title: CGU_TITLE, class: "footer-link", target: "_blank", rel: "noopener noreferrer"
            %li.footer-link
              = link_to MENTIONS_LEGALES_LABEL, MENTIONS_LEGALES_URL, title: MENTIONS_LEGALES_TITLE, class: "footer-link", target: "_blank", rel: "noopener noreferrer"
            %li.footer-link
              = link_to SUIVI_LABEL, suivi_path, title: SUIVI_TITLE, class: "footer-link"

      %li.footer-column
        %ul.footer-links
          %li.footer-link
            = contact_link CONTACT_LABEL, title: CONTACT_TITLE, class: "footer-link"
          %li.footer-link
            = link_to DOC_LABEL, DOC_URL, title: DOC_TITLE, class: "footer-link", target: "_blank", rel: "noopener noreferrer"
          %li.footer-link
            = link_to FAQ_LABEL, FAQ_URL, title: FAQ_TITLE, class: "footer-link", target: "_blank", rel: "noopener noreferrer"
          %li.footer-link
            = link_to ACCESSIBILITE_LABEL, ACCESSIBILITE_URL, title: ACCESSIBILITE_TITLE, class: "footer-link", target: "_blank", rel: "noopener noreferrer"
          %li.footer-link
            = link_to STATUS_PAGE_LABEL, STATUS_PAGE_URL, title: STATUS_PAGE_TITLE, class: "footer-link", target: "_blank", rel: "noopener noreferrer"
