<div id="breadcrumbs" class="sub-header">
  <div class="fr-container flex justify-between align-baseline column">
    <nav class="fr-breadcrumb mt-0" role="navigation" aria-label="<%= t('you_are_here', scope: [:layouts, :breadcrumb]) %>">
      <button class="fr-breadcrumb__button" aria-expanded="false" aria-controls="breadcrumb-1">
        <%= t('show', scope: [:layouts, :breadcrumb]) %>
      </button>

      <div class="fr-collapse" id="breadcrumb-1">
        <ol class="fr-breadcrumb__list">
          <li><%= link_to t('root', scope: [:layouts, :breadcrumb]), root_path, class: 'fr-breadcrumb__link' %></li>

          <% steps.each_with_index do |step, i| %>
            <% if i == steps.size - 1 %>
              <li><%= link_to step[0], '', aria: { current: 'page' }, class: 'fr-breadcrumb__link' %></li>
            <% else %>
              <li><%= link_to step[0], step[1], class: 'fr-breadcrumb__link' %></li>
            <% end %>
          <% end %>
        </ol>
      </div>
    </nav>
    <% if defined?(metadatas) %>
      <div class="metadatas pb-3">
        <h1 class="fr-h6 fr-mb-1w">
          <%= @procedure.libelle %>
        </h1>

        <% if @procedure.close? %>
          <div class="flex">
            <span class="fr-badge fr-badge--warning fr-mr-1w">
              <%= t('closed', scope: [:layouts, :breadcrumb]) %>
            </span>
            <%= t('since', scope: [:layouts, :breadcrumb], date: l(@procedure.closed_at.to_date)) %>
          </div>
        <% elsif @procedure.locked? %>
          <%= link_to commencer_url(@procedure.path), commencer_url(@procedure.path), class: 'fr-link' %>

          <%= link_to '', admin_procedure_path_path(@procedure), class: 'fr-btn fr-icon-pencil-line fr-btn--sm fr-btn--tertiary-no-outline', 'aria-label': t('edit_path', scope: [:layouts, :breadcrumb]), title: t('edit_path', scope: [:layouts, :breadcrumb]) %>

          <div class="flex fr-mt-1w">
            <% if @procedure.api_entreprise_token.expired_or_expires_soon? %>
              <span class="fr-badge fr-badge--error fr-mr-1w">
                <%= t('to_modify', scope: [:layouts, :breadcrumb]) %>
              </span>
            <% end %>
            <span class="fr-badge fr-badge--success fr-mr-1w">
              <%= t('published', scope: [:layouts, :breadcrumb]) %>
            </span>
            <%= t('since', scope: [:layouts, :breadcrumb], number: @procedure.id, date: l(@procedure.published_at.to_date)) %>
          </div>
        <% else %>
          <p class="fr-mb-1w">
            <%= t('more_info_on_test', scope: [:layouts, :breadcrumb]) %>
            <%= link_to t('go_to_FAQ', scope: [:layouts, :breadcrumb]), t('url_FAQ', scope: [:layouts, :breadcrumb]), title: new_tab_suffix(t('go_to_FAQ', scope: [:layouts, :breadcrumb])) %>
          </p>
          <div class="flex">
            <span class="fr-badge fr-badge--new fr-mr-1w">
              <%= t('draft', scope: [:layouts, :breadcrumb]) %>
            </span>
            <%= t('since', scope: [:layouts, :breadcrumb], number: @procedure.id, date: l(@procedure.created_at.to_date)) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
