<h1>Groupe « <%= @groupe_instructeur.label %> »</h1>
<div class="card mt-2">
  <%= form_for @groupe_instructeur,
               url: admin_procedure_groupe_instructeur_path(@procedure, @groupe_instructeur),
               html: { class: 'form' } do |f| %>
    <%= f.label :label, 'Nom du groupe' %>
    <%= f.text_field :label, placeholder: 'Ville de Bordeaux', required: true %>
    <div class="editable-champ editable-champ-checkbox">
      <%= f.label :closed, 'Groupe inactif' %>
      <div class="notice">
        <p>Si cette option est activée, les usagers ne pourront plus sélectionner ce groupe d'instructeurs</p>
      </div>
      <%= f.check_box :closed %>
    </div>

    <br>
    <%= f.submit 'Modifier le groupe', class: 'button primary send' %>
  <% end %>
</div>
